<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cnmts.common.dao.FileMapper">
    
	<!-- 增加文件 -->
	<insert id="saveFile" keyColumn="fileId" keyProperty="fileId" useGeneratedKeys="true">
		INSERT INTO sys_file (
			fileName,
			filePath,
			previewFilePath,
			fileLength,
			fileSuffix,
			fileContentType,
			fileUploadDate,
			uploadUserId,
			md5,
			sha1
		) VALUES (
			#{fileName},
			#{filePath},
			#{previewFilePath},
			#{fileLength},
			#{fileSuffix},
			#{fileContentType},
			#{fileUploadDate},
			#{uploadUserId},
			#{md5},
			#{sha1}
		)	
	</insert>
	
	<!-- 删除文件 -->
	<delete id="delFileById">
		DELETE
		FROM
			sys_file
		WHERE
			sys_file.fileId = #{fileId}
	</delete>
	
	<select id="getFileByFileId" resultType="com.cnmts.common.bean.Attachment">
		SELECT
			sys_file.fileId,
			sys_file.fileName,
			sys_file.filePath,
			sys_file.previewFilePath,
			sys_file.fileLength,
			sys_file.fileSuffix,
			sys_file.fileContentType,
			sys_file.fileUploadDate,
			sys_file.md5,
			sys_file.sha1
		FROM
			sys_file
		WHERE
			sys_file.fileId = #{fileId}
	</select>
	
</mapper>
 